.class-card-child {
    position: absolute;
    height: 97.04%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 2.96%;
    left: 0%;
    border-radius: 10px;
    border: 1px solid rgba(16, 47, 125, 0.16);
    box-sizing: border-box;
}
.rapid-prototype-and {
    margin: 0;
    font-size: 13px;
}
.cse-3300-rapid-container {
    position: absolute;
    height: 35.96%;
    width: 72.17%;
    top: 29.06%;
    left: 13.76%;
    display: inline-block;
}
.class-card-item {
    position: absolute;
    height: 24.14%;
    width: 1.83%;
    top: 31.03%;
    right: 90.21%;
    bottom: 44.83%;
    left: 7.95%;
    background-color: rgba(248, 66, 66, 0.82);
}
.class-card-inner {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 7.88%;
    right: 5.2%;
    bottom: 77.34%;
    left: 85.63%;
    border-radius: 50%;
    background-color: rgba(138, 171, 255, 0.35);
}
.component-26-icon {
    top:25%;
    left:25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-div {
    position: absolute;
    height: 15px;
    width: 200px;
    top: 13.79%;
    right: 68.81%;
    bottom: 78.33%;
    left: 6.42%;
    border-radius: 10px;
    background-color: rgba(138, 171, 255, 0.35);
}
.alumni-approved {
    position: absolute;
    height: 6.4%;
    width: 25.99%;
    top: 15.27%;
    left: 9.79%;
    font-size: 7px;
    color: #2020d2;
    display: inline-block;
}
.relevant-skills-full {
    margin: 0;
}
.rating-45-relevant-container {
    position: absolute;
    height: 25.12%;
    width: 79.2%;
    top: 65.02%;
    left: 13.76%;
    font-size: 9px;
    line-height: 11px;
    color: #575757;
    display: inline-block;
}
.class-card {
    width: 100%;
    position: relative;
    height: 200px;
    text-align: left;
    font-size: 16px;
    color: #3c3c3c;
    font-family: 'DM Sans';
}

