header{
    display: flex;
    justify-content: space-around;
    border: black 1px solid;
    border-radius: 25px;
    box-shadow: 4px 4px 5px black;
    height: 120px;
    width: 90%;
    justify-self: center;
}

header > a{
    font-family: sans-serif;
    font-size: larger;
    color: #5D5D5D;
    text-decoration: none;
    align-self: center;
}

#headerLinks{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#headerLinks > a{
    color: black;
    text-decoration: none;
}

#profileImg{
    height: 50px;
    width: 50px;
}