<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Content Card</title>
        <link rel="stylesheet" href="../Assets/Styles/contentCard.css">
    </head>
    <body>
        <div class="contentCard">
            <div class="cardTop">
                <div class="tag">
                    <p>Tag Here</p>
                </div>
                <!--Replace "remove" with "add" when you want the appearance to change-->
                <div class="remove">
                    <img alt="" src="./Assets/Shapes/Component 26.svg">
                </div>
            </div>
            <div class="cardInfo">
                <p class="infoTitle">Content Title</p>
                <!--Don't delete this if there is no subtitle, leave it empty instead-->
                <p class="infoSubtitle">Content Subtitle</p>
            </div>
            <div class="cardShape">
            </div>
            <div class="cardAdditionalInfo">
                <p class="additionalInfo">Some extra info, copy me for more items!</p>
            </div>
        </div>
    </body>
</html>