<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Your Career</title>
        <link rel="stylesheet" href="../Assets/Styles/Visuals.css">
    </head>
    <body>
        <div class="postCard">
            <img src="../Assets/Images/AlumProfileImage.png">
            <div class="postCardContent">
                <div class="postAuthor">Richard Li</div>
                <div class="postAuthorTitle">Software Developer at Amazon</div>
                <iframe src="https://www.youtube.com/embed/j1fc0FlCjyI"></iframe>
                <p class="postDescription">
                    This is a default post description.
                </p>
            </div>
            <div class="postFollow">Follow</div>
            <div class="postLike">

            </div>
        </div>
    </body>
</html>