* {
    font-family: 'DM Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

a{
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-self: center;
    border-bottom: 1px solid lightgray; /* thin gray line */
}

header > a{
    font-family: sans-serif;
    font-size: larger;
    color: #5D5D5D;
    text-decoration: none;
    align-self: center;
}

#headerLinks{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#headerLinks > a{
    color: black;
    text-decoration: none;
}

#profileImg{
    height: 40px;
    width: 40px;
}

.career-banner {
    width: 100%;
    padding-top: 0px;
    display: block;
    position: relative;
}

.filter{
    color: #5D5D5D;
    width: 320px;
    padding: 25px;
    text-align: left;
}

.filter > *{
    margin-top: 10px;
}

.filterSearch{
    width: 320px;
    height: 25px;
    padding: 0 0 0 10px;
    border-radius: 20px;
    border-style: hidden;
    background: #E4E4E4;
}

.selectionOptions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:first baseline;
}

.selectionOptions > div{
    width: 160px;
}

.courseInfo > p{
    padding: 10px;
}

.courseName{
    font-family: sans-serif;
    font-size: large;
    align-self: center;
}

#activeCourses{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#activeCareers{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#activeClubs{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#courses{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#clubs{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#internships:not(.hidden){
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#careers{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

/* For subnavigation */
.subNavigation{
    margin: 40px;
    color: #5D5D5D;
    font-size: 18px;
    font-weight: 500;
}
.subNavigation > a{
    color: inherit;
    text-decoration: none;
}
.subNavigation > a:hover{
    text-decoration: underline;
}

/* For individual career page */
.pageWrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px; /* overall page width */
}

#careerTitle{
    font-size: 35px;
    font-weight: 500;
}

#careerSpecific{
    margin: 50px 180px;
}

#careerSpecificInfo > div{
    display: flex;
    margin: 16px 0;
}

#careerSpecificDescription{
    margin: 0 20px 30px;
    font-style: normal;
    width: 800px;
    color: #5D5D5D;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.descriptorTitle{
    font-style: italic;
    color: #5D5D5D;
    font-size: 18px;
    font-weight: 300;
    margin: 0 20px 0 0;
}

#careerSpecificYSK, #careerSpecificAS{
    display: flex;
}

#careerSpecificYSK > div, #careerSpecificAS > div{
    border-radius: 10px;
    background: rgba(255, 150, 136, 0.20);
    color: #5D5D5D;
    font-size: 13px;
    font-weight: 400;
    padding: 8px;
    margin: auto 10px;
    white-space: nowrap;
}

#careerSpecificDays, #careerSpecificAlums{
    margin: 30px 0 0;
}

#careerSpecificDays > a, #careerSpecificAlums  > a{
    float: right;
    font-size: 15px;
    font-weight: 400;
}

#careerSpecificDays > div, #careerSpecificAlums  > div{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

#dilFrames, #alumCardContainer, #careerSpecificSubpages{
    margin: 40px 0 60px;
    display: flex;
    flex-wrap: wrap;
}

#dilFrames > iframe{
    width: 244px;
    margin: auto;
}

#alumCardContainer > div{
    margin: 10px auto;
}

#careerSpecificSubpages > div{
    font-size: 23px;
    font-weight: 400;
}

#careerSpecificSubpages > div{
    padding: 0 0 5px;
    border: 3px white;
    border-style: none none solid none;
}

#careerSpecificSubpages > .selected{
    padding: 0 0 5px;
    border: 3px black;
    border-style: none none solid none;
}

.subpageContent:not(.hidden){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subpageContent > div{
    margin: 20px auto;
}

#careerSpecificBottom{
    height: 450px;
}
    

/* Recommended course card */
.recommendedCourseCard{
    width: 290px;
    border-radius: 10px;
    border: 1px solid rgba(16, 47, 125, 0.16);
    padding: 16px;
    margin: 10px auto
}

.addRecommendedCourse, .postLike{
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 50%;
    background-color: rgba(138, 171, 255, 0.35);
    display: flex;
}

.addRecommendedCourse > svg{
    margin: auto;
}


.approvalStamp, .postFollow{
    max-width: 80px;
    height: 13px;
    color: #2020D2;
    font-size: 7px;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0 0;
    margin: 15px 0;
    background: rgba(138, 171, 255, 0.35);
}

.recommendedCourseCardName{
    border-left: solid 6px rgba(248, 66, 66, 0.82);
    padding: 0 0 0 12px;
    color: #3C3C3C;
    font-weight: 400;
}

.recommendedCourseCardName > .code{
    font-size: 16px;
    height: 2px;
}

.recommendedCourseCardName > .title{
    font-size: 13px;
    width: 236px;
}

.recommendedCourseCardInfo{
    color: #575757;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px; /* 122.222% */
}

/* for Alumni Feed */
.alumniFeed{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageTitle{
    color: #5D5D5D;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#feedSearchContainer{
    width: 300px;
    margin: auto;
}

#feedSearch{
    margin: 20px auto 0;
    width: 300px;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: #F8B599;
    font-size: 15px;
    text-align: center;
}

#makePost{
    margin: 80px auto 20px;
    width: 800px;
    height: 28px;
    padding-top: 12px;
    font-size: 15px;
    text-align: center;
    color: #3F3F3F;
    border-radius: 30px;
    border: 1px solid #6A6A6A;
}

/* For Recommendation Creation and Post Creation */
.recCreation, .createPost{
    padding: 40px 70px;
    width: 1008px;
}

.createPost{
    align-self: center;
}

.recCreation > form > p > label, .createPost > form > p > label{
    margin:40px 0px;
    font-size:24px;
}

.inputBox{
    border: 1px solid #000;
    background: #D9D9D9;
    color: #5D5D5D;
    font-size: 20px;
    box-shadow: 4px 4px 4px 0px rgba(248, 99, 66, 0.50);
}

#recTitle, #createPostTitle, #createPostTags{
    width: 700px;
}

#recRating{
    width: 50px;
}

#recSkills, #recReview, #createPostContent {
    width: 1000px;
    height: 5em;
}

#createPostVideo::file-selector-button{
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #000;
    background: #F8B599;
    box-shadow: 4px 4px 4px 0px rgba(248, 181, 153, 0.50);
}

#createPostVideo{
    height: 55px;
}

#recSubmitP, #createPostSubmitP{
    margin: 60px 0 0;
    display: flex;
}

/* This can be a div or an input button. If it's a div, put text in a <p> */
.defaultButton{
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #000;
    background: #F86342;
    box-shadow: 4px 4px 4px 0px rgba(248, 181, 153, 0.50);
}

.defaultButton > p{
    margin: 19px;
}

/* For the Alumni Cards */
.alumniCard{
    width: 238px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    background: url("Assets/Images/AlumProfileBanner.png") no-repeat white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px 0 0;
}

.alumniCard > .banner{
    position: relative;
}

.alumniCard > .icon{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 55px;
    border: 1px solid white;
}

.alumniCard > .name{
    font-size: 18px;
}

.alumniCard > .title{
    margin: 5px 0 0;
    font-size: 10px;
}

.alumniCard > .info{
    margin: 20px 0px;
    font-size: 9px;
    color: #808080;
    width: 100%;
    display: flex;
}

.alumniCard > .info > span{
    width: 79px;
    text-align: center;
    overflow: hidden;
}

.alumniCard > button{
    width:110px;
    height:25px;
    color: #FF624D;
    border: 1px solid #FF624D;
    border-radius: 10px;
    background-color: white;
    margin: 0px 20px 20px;
}

.alumniCard > button:active{
    background-color: #E9E9E9;
}

/* For the Job Cards */
.jobCard{
    width: 256px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.jobCard > img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.jobCard > .jobName{
    font-size: 17px;
    margin: 10px 17px 0;
}

.jobCard > .jobDescription{
    font-size: 11px;
    color: #5d5d5d;
    margin: 10px 17px;
    overflow: hidden;
}

.jobCard > div{
    margin: 5px 10px 17px;
    padding: 5px;
    vertical-align: middle;
}

.jobCard > div > button{
    width: 72px;
    height: 22px;
    font-size: 8px;
    border-radius: 15px;
    border: 1px solid #F8A2B2;
    background-color: white;
}

.jobCard > div > button:active{
    background-color: #E9E9E9;
}

.jobCard > div > svg{
    float: right;
    margin: 3px 0 0;
}

/* For the Course Cards */
/* .courseCard{
    width: 300px;
    height: 300px;
    border: 1px solid #cfcfcf;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.courseCard > *{
    font-size: medium;
    margin: 5px 10px;
} */

.courseCardTop{
    height: 1.2em;
    display: flex;
}

.careerCard{
    width: 320px;
    height: 370px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.careerCard > img{
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: 190px;
    object-fit: cover;
}

.careerCardName {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 13px 10px 4px;
    padding: 0 15px;
}

.careerCardDesc {
    font-size: 14px;
    font-weight: 400;
    color: #808080; /* light grey */
    line-height: 1.4;
    margin: 4px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
    height: 4.2em;
    overflow: hidden;
}

.careerCard > button {
    position: relative;
    background-color: white;
    font-size: small;
    border-radius: 15px;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    z-index: 1;
    overflow: hidden;
    margin: 16px 0 0 15px;
}

/* Gradient border using mask */
.careerCard > button::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px; /* thickness of the border */
    border-radius: 15px;
    background: conic-gradient(
            from 90deg at 50% 50%,
            rgba(248, 162, 178, 0.8) 18%,
            rgba(247, 161, 185, 0.8) 33%,
            rgba(255, 169, 133, 0.8) 81%,
            rgba(236, 149, 255, 0.8) 100%
    );

    /* Creates a border-only effect by cutting out the inside */
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
}

#activeInternships, #activeClubs{
    display: flex;
}

.internshipCard, .clubCard{
    width: 860px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.clubCard{
    border-radius: 10px;
    border: 1px solid #D3CECE;
}

.internshipCard > hr, .clubCard > hr{
    width: 100%;
}

.internshipCard > img, .clubCard > img{
    width: 68px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #C5C0C0;
    object-fit: contain;
    float: left;
    position:absolute;
    margin: 30px;
}

.internshipCard > div, .clubCard > div{
    margin: 10px 0px 0px 130px;
}

.internshipCardName, .clubCardName{
    font-size: 17px;
}

.internshipCardDesc, .clubCardDesc{
    font-size: 13px;
}

.ExtraInfo{
    display: flex;
}

.ExtraInfo > div{
    margin: auto;
}

.courseTitle{
    width: 280px;
    margin: .1em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #454545;
}

.addToPlan{
    width:75px;
    height:30px;
    float: right;
    border-radius: 10px;
    border: 1px solid #000;
    background: #F86342;
    box-shadow: 4px 4px 4px 0px rgba(248, 181, 153, 0.50);
    font-size: 10px;
}

.addToPlan:active{
    background-color: #EF9883;
}

.courseSkills{
    width:auto;
    height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#postFeed{
    display: flex;
    flex-direction: column;
}

#postFeed > hr{
    width: 800px;
}

.postCard{
    width: 730px;
    height: 430px;
    display: flex;
    margin: 10px auto;
    padding: 35px;
}

.postCard > img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    margin-right: 35px;
}

.postCardContent{
    width: 490px;
}

.postCardContent > iframe{
    height: 280px;
    width: 490px;
    resize: both;
    overflow: auto;
    border-style: hidden;
    border-radius: 10px;
}

.postAuthor{
    font-size: 16px;
    font-weight: 400;
}

.postAuthorTitle{
    color: #545454;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 20px;
}

.postDescription, .postTitle{
    font-size: 12px;
    font-weight: 700;
}

.postTitle{
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postFollow{
    height: 14px;
    width: 72px;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0;
    margin: 0;
}

.postLike{
    margin-left: 35px;
}

#AlumniTitle{
    font-size: 35px;
    width: 100%;
    text-align: center;
}

#createPostForm > a{
    width: 25%;
    align-self: center;
}
